

body {
  display: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 1px;
  height: 1000px;
}

/* Header */

header {
  z-index: 100;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px #3b3b3b;
  background-color: rgb(0, 0, 0);
  border-bottom: solid 3px #3b3b3b;
  font-size: large;
  color: azure;
}

header .content {
  display: flex;
  height: 25px;
  padding-top: 15px;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

header .logo {
  flex: 1;
  text-decoration: none;
  padding-right: 5px;
}

#myForm {
  display: grid;
  grid-template-rows: 5%;
  width: auto;
  height: 1025px;
  margin-top: 25px;
  margin-left: 18px;
  margin-right: 18px;
  align-items: start;
  justify-content: center;
  justify-items: center;
}

/* Form */

.form1 {
  display: flex;
  flex-direction: column;
}

.form2 {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

label {
  margin-bottom: 5px;
  margin-right: 5PX;
}

#site-rep {
  height: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 15px;
}

.techInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.techInfo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.modelAndService {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 20px;
  font-size: 14px;
}

#textAreaParts {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Start with one column */
  grid-row: 4;
  grid-column: 1 / span 2;
  min-height: 48px;
  height: fit-content;
  width: inherit; /* Make the textarea full width */
  resize: vertical; /* Allow resizing only vertically*/
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0px;
}

#textAreaNotes {
  min-height: 48px;
  height: auto;
  width: inherit; /* Make the textarea full width */
  resize: vertical; /* Allow resizing only vertically*/
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

#textAreaSumm {
  min-height: 48px;
  height: auto;
  width: inherit; /* Make the textarea full width */
  resize: vertical; /* Allow resizing only vertically*/
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

#textAreaSerial {
  min-height: 35px;
  height: auto;
  width: inherit; /* Make the textarea full width */
  resize: vertical; /* Allow resizing only vertically*/
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

#tracking {
  grid-column: 2;
  grid-row: 4;
  height: 15px;
  width: inherit; /* Make the textarea full width */
  resize: vertical; /* Allow resizing only vertically*/
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#table1Data {
  display: flex;
  flex-direction: column;
}

.parts-container {
  display: grid;
  grid-template-rows: 11% 14% 32%;
  grid-template-columns: 49% 49%;
  column-gap: 5px;
  margin-bottom: -10px;
}

#partColumnOne {
  display: grid;
  grid-template-columns: 85% 1fr;
  grid-column-gap: 2px;
  grid-template-rows: 103% 189% 135%;
}

#partColumnTwo {
  display: grid;
  grid-template-rows: 118% 185% 0% 137%;
  justify-content: start;
  align-items: center;
}

#parts {
  grid-column: 1;
  grid-row: 1;
  width: auto;
}

#partsUsed {
  grid-column: 1;
  grid-row: 4;
}

#partsReturnDropdown {
  grid-row: 2;
  grid-column: 2;
  height: 37px;
  font-size: 14px;
}

#addPartButton {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  width: auto;
  height: 25px;
  justify-content: center;
  align-items: center;
}

#partsDropdown {
  grid-column: 1;
  grid-row: 2;
  width: auto;
  height: 37px;
}

#quantityDropdown {
  grid-column: 2;
  grid-row: 2;
  width: auto;
  height: 37px;
}

#qtyLabel {
  grid-column: 2;
  grid-row: 1;
  width: auto;
}

#partsreturnlabel {
  grid-row: 1;
  grid-column: 2;
}

#partsreturn {
  grid-column: 2;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
}

/* Table with checkboxes */

table {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 2px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}


td {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

tr {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Signature */

canvas {
  background-color: rgba(96, 102, 100, 0.267);
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  grid-template-rows: 5%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  grid-row: 211;
}


@media print {
body {
  -webkit-print-color-adjust: exact !important;  
  print-color-adjust: exact !important;          
  height: 100%;
  overflow: hidden;
  background: #FFF; 
  font-size: 12pt;
}

@page {
size: A4;
}

.template { width: auto; left:0; top:0; }
img { width:100%; }
li { margin: 0 0 10px 20px !important;}
}
